---
layout: default
title: Contributors
pagination:
  enabled: true
  collection: contributors
---
<section class="post">
    <div>
      <div class="post__header section-padding--double">
        <div class="grid-small">
            <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
</section>

<!-- The main content area -->
<div class="posts">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

        {% for post in paginator.posts %}

            {% include post-card.html %}

        {% endfor %}

      </div>
    </div>

    {% include pagination.html %}

</div>