<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid-large">
    <div class="subscribe__title">
      Join our Mailing List
    </div>
    <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/4zRD/jA9" width="100%"></iframe>

    <hr class="sep--white" />

    <div class="footer__container">
      <div class="subscribe__title">
        Tags
      </div>
      {% tags_list :threshold => 1, :sort_by => count, :order_by => desc, :limit => 5 %}

      {% include social.html %}
    </div>
  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
<script>
  var maxPages = parseInt('{{ paginator.total_pages }}');
</script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>

<script id="rendered-js">
  function mobilemenutoggle() {
    $("#mobile-menu").toggleClass('open');
  }
  function displayMobileMenu() {
    $('#mobile-menu ul').hide();
    if ($(window).width() < 767) {
      if (!($("#mobile-menu-toggler").length > 0)) {
        var mobilemenuheight = $('#mobile-menu').height();
        var toggler = "<a id='mobile-menu-toggler' onclick='mobilemenutoggle();' style='height: " + mobilemenuheight + "px; line-height: " + (mobilemenuheight - 1) + "px;'><span class='mobile-menu-text open'></span><span class='mobile-menu-icon'></span></a>";
        $("#mobile-menu").prepend(toggler);
      }
    }
    $('#mobile-menu ul').attr('style', '')
  }
  $(window).resize(displayMobileMenu());
  $(window).resize();
</script>

<script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>

{% if page.layout == "contributor" %}

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

{% endif %}