<nav class="nav-primary">
  <ul class="header__list">
    <li><a href="{{ '/' | prepend: site.baseurl }}">Stories</a></li>
    <li><span class="popup__open">Reach Out</span></li>
    <li><a href="{{ '/submission' | prepend: site.baseurl }}">Share Something</a></li>
    <li><a title="Help" href="{{ '/help' | prepend: site.baseurl }}"><svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><image xlink:href="/assets/images/question-solid.svg" height="12" width="12"/></svg></a></li>
  </ul>
</nav>
