<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
          {% assign path = post.image | remove_first: '/'  %}
          {% assign alt = post.title %}
          {% responsive_image_block %}
            path: {{ path }}
            alt: {{ alt }}
            {% if title %}
            title: {{ title }}
            {% endif %}
          {% endresponsive_image_block %}
      </figure>
    {% endif %}
    <div>
      <h2 class="posts__text"><strong itemprop="name">{{ post.title }}</strong> — <span itemprop="description">{{ post.content | strip_html | truncatewords: 35, "" }}</span></h2>
    </div>
  </a>
</article>
