/* Set the size of the div element that contains the map */
.google-maps {
  height: 500px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin: 5% 0;
}
.drop-hr {
  margin: 3% 0;
}