/* Links */
a:link, a:visited {
  color: black;
}
.footer__link:link, .footer__link:visited, .footer__social a:link, .footer__social a:visited {
  color: white;
}
.fancy-underline {
  color: #000;
  border-bottom: 2px solid #bbb;
  -webkit-box-shadow: inset 0 -3px 0 #bbb;
  box-shadow: inset 0 -3px 0 #bbb;
}

/* Highlights */
.image-credits {
  background-color: #eff0f1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75em;
  padding: 1%;
}
.warning {
  background-color: black; 
  color: white;
  padding: 0.5em;
}

/* Overrides */
@media screen and (min-width: 1024px) {
  .post__img {
    height: 100vh;
  }
}