
#mobile-menu {
    overflow: hidden;
    position: absolute; /* Positioning for hamburger closed and open. */
    top: 25%;
    right: 10%;
    background: white; /* So the list of menu items can be read if they overlap main body content. */
}

#mobile-menu ul {
    font-size: 0;
}

#mobile-menu li {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
}

#mobile-menu-toggler {
    display: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: black !important;
    height: 2em !important;
}

#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after, #mobile-menu-toggler span.mobile-menu-icon {
    display: inline-block;
    width: 15px;
    height: 2px;
    background: black !important;
}

#mobile-menu #mobile-menu-toggler span.mobile-menu-icon, #mobile-menu #mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu #mobile-menu-toggler span.mobile-menu-icon::after {
    -webkit-transition: all 0.15s ease-in-out !important;
    -moz-transition: all 0.15s ease-in-out !important;
    -o-transition: all 0.15s ease-in-out !important;
    transition: all 0.15s ease-in-out !important;
}

#mobile-menu-toggler span.mobile-menu-icon {
    margin-left: 5px;
    position: relative;
    bottom: 4px;
}

#mobile-menu-toggler span.mobile-menu-icon::before, #mobile-menu-toggler span.mobile-menu-icon::after {
    content: "";
    vertical-align: middle;
    position: absolute;
}

#mobile-menu-toggler span.mobile-menu-icon::before {
    margin-top: -4px;
}

#mobile-menu-toggler span.mobile-menu-icon::after {
    margin-top: 4px;
}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon {
    background: transparent !important;
}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {
    margin-top: 0px;
}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {
    margin-top: 0px;
}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::before {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#mobile-menu.open #mobile-menu-toggler span.mobile-menu-icon::after {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#mobile-menu span.mobile-menu-text.open {
    display: none;
}

#mobile-menu.open span.mobile-menu-text {
    display: none;
}

#mobile-menu.open span.mobile-menu-text.open {
    display: initial;
}

@media screen and (max-width: 767px) {
    #mobile-menu-toggler {
        display: block;
    }
    #mobile-menu ul {
        display: none;
    }
    #mobile-menu.open ul {
        display: block;
    }
    #mobile-menu li {
        display: block;
    }
}